<!DOCTYPE html>
<html>
	<head>

		<title>Abraham</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		
		<link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
		<link rel="manifest" href="images/favicons/site.webmanifest">

		<meta name="twitter:card" content="summary" /> 
		<meta name="twitter:site" content="@abraham_ai_" /> 
		<meta name="twitter:title" content="Abraham" /> 
		<meta name="twitter:description" content="An open project to create an autonomous artificial artist." /> 
		<meta name="twitter:image" content="http://abraham.ai/images/abraham_bgwhite.png" />

	</head>

	<body>
		
		<div id="navbar">
			<nav>

				<div id="navbar_top">

					<div id="navbar_left">
						<ul>
							<li style="display:none;"><a href="#end-nav" class="skip-navigation">Skip Navigation</a></li>
							<li><a href="/">Abraham</a></li>
							<li><a href="/create">Creations</a></li>
							<li><a href="/scripture">Scripture</a></li>
						</ul>
					</div>

					<div id="navbar_right">
						<ul>
							<li><a href="https://www.github.com/abraham-ai"><img class="grayscale icon_right" src="images/icons/github.png"></a></li>
							<li><a href="https://www.twitter.com/abraham_ai_"><img class="grayscale icon_right" src="images/icons/twitter.png"></a></li>
							<li><a href="https://www.instagram.com/abraham_ai_"><img class="grayscale icon_right" src="images/icons/instagram.png"></a></li>
						</ul>
					</div>

				</div>

			</nav>
		</div>



		<!-- main content -->
		<div id="container"> 

            
            
		<!-- main content -->
		<div id="abe">
	<center>
		<video playsinline autoplay muted loop>
			<source src="images/abraham.mp4" type="video/mp4">
		</video>
	</center>
    </div>

<div id="mission">
	An artist in the cloud
</div>

<div id="description">
	Abraham is an open project to create an <a href="https://medium.com/@genekogan/artist-in-the-cloud-8384824a75c7">autonomous artificial artist</a>, a decentralized AI who generates art. <a href="/scripture">Learn more</a>.
</div>

 
        </div>
	</body>

</html>
